<mat-accordion multi="true" *ngIf="orders.length > 0">
    <mat-expansion-panel *ngFor="let order of orders">
        <mat-expansion-panel-header>
            {{ $any(order).cType }}
        </mat-expansion-panel-header>
        Extras:
        <ul>
            <li *ngIf="order.Milk">Milk</li>
            <li *ngIf="order.Sugar">Sugar</li>
        </ul>
        Side notes: 
        <p>{{ $any(order).content }}</p>
        <mat-action-row>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="orders.length <= 0">No orders added yet</p>