<mat-card>
    <form (submit)="onAddOrder(orderForm)" #orderForm="ngForm">
        <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select 
            type="select"
            name="cType"
            ngModel
            #type="ngModel"
            required>
                <mat-option value="option">option</mat-option>
                <mat-option value="option2">option2</mat-option>
            </mat-select>
            <mat-hint align="end">test</mat-hint>
            <!-- <input 
            matInput 
            type="text" 
            name="cType"
            ngModel
            required
            #type="ngModel"> -->
            <mat-error *ngIf="type.invalid">Please select a coffee type</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                row="4"
                name="content" 
                ngModel
                placeholder="Anything we should be aware of?"
                #content="ngModel">
            </textarea>
    </mat-form-field>
        <button 
            mat-raised-button 
            color = "primary"
            type="submit">Save order
        </button>
    </form>
</mat-card>