<mat-card>
    <form (submit)="onAddOrder(orderForm)" #orderForm="ngForm">
        <mat-form-field>
            <mat-label>Select me</mat-label>
            <mat-select 
            type="select"
            name="cType"
            ngModel
            #type="ngModel"
            required>
                <mat-option value="Regular">Regular</mat-option>
                <mat-option value="Mocha">Mocha</mat-option>
                <mat-option value="Espresso">Espresso</mat-option>
                <mat-option value="Cappuccino">Cappuccino</mat-option>
            </mat-select>
            <!-- <input 
            matInput 
            type="text" 
            name="cType"
            ngModel
            required
            #type="ngModel"> -->
            <mat-error *ngIf="type.invalid">Please select a coffee type</mat-error>
        </mat-form-field>
        <mat-checkbox ngModel #type="ngModel" name="checkMilk" defaultValue="false">
            Milk
        </mat-checkbox>
        <br>
        <mat-checkbox ngModel #type="ngModel" name="checkSugar" defaultValue="false">
            Sugar
        </mat-checkbox>
        <mat-form-field>
            <textarea 
                matInput 
                row="4"
                name="content" 
                ngModel
                placeholder="Anything we should be aware of?"
                #content="ngModel">
            </textarea>
        </mat-form-field>
        <button 
            mat-raised-button 
            color = "primary"
            type="submit">Save order
        </button>
    </form>
</mat-card>