<mat-card>
    <form (submit)="onAddOrder(orderForm)" #orderForm="ngForm">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="cType"
            ngModel
            required
            #type="ngModel">
            <mat-error *ngIf="type.invalid">Please select a coffee type</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                row="4"
                name="content" 
                ngModel
                required>
            </textarea>
    </mat-form-field>
        <button 
            mat-raised-button 
            color = "primary"
            type="submit">Save order
        </button>
    </form>
</mat-card>